html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(7, 7, 46);
}
* {
  padding: 30px;
  margin: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);}
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo{
  width: 800px;
  height: 500px;
  display: block;
  margin: 0 auto;
  
}

.title {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.card {
    background-color: rgb(135, 203, 230);
    border: 5px solid rgb(103, 159, 233);
    border-radius: 40px;
    border-width: 10px;
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 18px #000000;
    width: 400px;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 20px;
    place-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between; /* name on left, price on right */
  align-items: center;
  background-color: rgb(117, 175, 197);
  border: 3px solid rgb(103, 159, 233);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 90%;
  font-family: 'Lexend', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
}

.special{
  font-weight: bold;
}

.image{
  width: 350px
}

.button {
  background-color: rgb(7, 7, 46);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 46);
  color:rgb(135, 201, 255);
  border: 2px solid rgb(7, 7, 46);
}

.cart{
  display: flex;
  flex-direction: column;     
  align-items: center;        
  background-color: rgb(135, 203, 230);
  border: 5px solid rgb(103, 159, 233);
  border-radius: 40px;
  box-shadow: 5px 10px 18px #000000;
  padding: 20px;
  margin: 0 auto;
  width: 1000px;                
  font-family: 'Lexend', sans-serif;
  color: rgb(255, 255, 255);
}

.cartTitle{
  background-color: rgb(135, 203, 230);
  border: 5px solid rgb(103, 159, 233);
  border-radius: 40px;
  padding: 20px;
  width: 1000px;
  margin: 30px auto 10px auto; 
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  box-shadow: 5px 10px 18px #000000;
}

.cartTotal{
  padding: 10px 20px;     
  width: fit-content;     
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.cart-divider {
  border: none;                
  border-top: 2px solid rgb(103, 159, 233);
  width: 90%;                  
  align-self: center;           
}

.filterHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(135, 203, 230);
    border: 5px solid rgb(103, 159, 233);
    border-radius: 40px;
    border-width: 10px;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 20px;
}

.filter{
    background-color: rgb(135, 203, 230);
    border: 5px solid rgb(103, 159, 233);
    border-radius: 40px;
    border-width: 10px;
    padding: 0px;
    margin: 10px;
    width: 500px;
    height: 100px;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 20px;
}

.filter:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 46);
  color:rgb(135, 201, 255);
  border: 2px solid rgb(7, 7, 46);
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
}